<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INFORME PROYECCION {{ proyeccion.titulo }} - RÉGIMEN DE PRIMA MEDIA</title>
    <link rel="shortcut icon" href="https://app.liquigator.digital/img/LIQUIGATOR_.png"
          type="image/x-icon">

    <style type="text/css">
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

        @page {
            margin: 0cm 0cm;
        }

        /** Define now the real margins of every page in the PDF **/
        body {
            margin-top: 2.54cm;
            margin-left: 2.54cm;
            margin-right: 2.54cm;
            margin-bottom: 2.54cm;
            font-size: small;

        }

        * {
            font-family: 'Roboto', sans-serif;
        }

        table {
            font-size: small;
        }

        tfoot tr td {
            font-weight: bold;
            font-size: small;
        }

        .gray {
            background-color: lightgray
        }

        /** Define the header rules **/
        header {
            position: fixed;
            top: 0cm;
            left: 0cm;
            right: 0cm;
            /*height: 0cm;*/
        }

        header p {
            left: 2.54cm !important;
            margin-left: 2.54cm !important;
            text-align: left;
            color: #053665;
            font-size: 12px !important;
            letter-spacing: 1px;
            font-weight: bold;
        }

        footer {
            position: fixed;
            bottom: 1cm;
            left: 0cm;
            right: 0cm;
            height: 0cm;
        }

        .page_break {
            page-break-before: always;
        }

        .page_initial {
            text-align: center;
            color: #053665;
            font-size: 150%;
        }

        .page_info {
            position: relative;
            font-size: small;
        }

        .page_info ul {
            /*position: absolute;*/
            left: 0cm;
            /*height: 30%;*/
            width: 100%;
            list-style: none;
        }

        .page_text, .page_text-ol {
            position: relative;
            font-size: x-large;
        }

        .page_text p {
            position: absolute;
            text-align: justify;
            top: 40%;
            left: 0cm;
            /*height: 30%;*/
            width: 100%;
            margin: -15% 0 0 0%;
        }

        .page_text-ol p {
            position: absolute;
            text-align: justify;
            top: 30%;
            left: 0cm;
            /*height: 30%;*/
            width: 100%;
            margin: -15% 0 0 0%;
        }

        .page_text-ol ol, .page_text-ol ul {
            position: absolute;
            text-align: justify;
            top: 50%;
            left: 0cm;
            /*height: 30%;*/
            width: 100%;
            margin: -15% 0 0 0%;
        }


    </style>

</head>
<body>

<main>

    <div class="page_info">
        <h3>INFORME PROYECCION {{ proyeccion.titulo }}</h3>
        <ul>
            <li><b>NOMBRE:</b> {{ info.fullName }}</li>
            <li><b>CÉDULA:</b> {{ info.identification|number_format(0,',','.') }}</li>
            <li><b>FECHA DE NACIMIENTO:</b> {{ info.birthdate|date('d/m/Y') }}</li>
            <li><b>EDAD:</b> {{ info.edad }} AÑOS</li>
            <li><b>AFILIADO(A) ACTUALMENTE EN:</b> {{ info.fondo|upper }}</li>
            <li><b>SEMANAS COTIZADAS A {{ last_record|date('M/Y')|upper }}
                    :</b> {{ info.totalWeeks|number_format(0,',','.') }}</li>
        </ul>

        <h4 style="text-align: center">REPORTE PROYECCIONES</h4>
        {% include 'main/template_data_reporte.html.twig' with {'data':reporte.data} %}
        <table class="table table-sm">
            <thead>
            <tr>
                <th colspan="2"><b>Detalles</b></th>
            </tr>
            </thead>
            <tbody>
            {% for pr in reporte.proyeccion %}
                <tr>
                    <td><b>Salario</b><br>
                        $&nbsp;{{ pr['salario'] }}
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <th>Meses</th>
                <td class="text-right">{{ reporte.meses }}</td>
            </tr>
            <tr>
                <th>Total Semanas</th>
                <td class="text-right">{{ reporte.semanas|number_format(2) }}</td>
            </tr>
            <tr>
                <th>IBL</th>
                <td class="text-right">
                    $&nbsp;{{ reporte.ibl|number_format(2) }}</td>
            </tr>
            <tr>
                <th>s</th>
                <td class="text-right">{{ reporte.s|number_format(2) }}</td>
            </tr>
            <tr>
                <th>r</th>
                <td class="text-right">{{ (reporte.r*100)|number_format(2) }}
                    %
                </td>
            </tr>
            <tr>
                <th>Total Porcentaje</th>
                <td class="text-right">{{ (reporte.x*100)|number_format(2) }}
                    %
                </td>
            </tr>
            <tr>
                <th>Pensión Básica</th>
                <td class="text-right">
                    $&nbsp;{{ reporte.r1|number_format(2) }}</td>
            </tr>
            <tr>
                <th>Pensión Total <small>(Tomando el total de
                        semanas)</small>
                </th>
                <td class="text-right">
                    $&nbsp;{{ reporte.r2|number_format(2) }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</main>

</body>
</html>